# Agent 
autoexperiment/agents/openai_api_key.txt
autoexperiment/agents/__pycache__
autoexperiment/agents/workspace
autoexperiment/agents/traces
autoexperiment/agents/logs
autoexperiment/agents/generated_code

# dataset
autoexperiment/dataset/__pycache__
autoexperiment/dataset/MLRC/mlrc_*.jsonl
autoexperiment/dataset/MLRC/*/*.jsonl
autoexperiment/dataset/workspace
*.pt
*.zip
*.tar
*.gz
*.npz
*.png
*.jpg
*.pkl

# Workspace, logs, and utils
workspace/*
wandb
scripts/deploy/*.sbatch
scripts/deploy/sbatches/*.sbatch
scripts/deploy/experiments_*.yml

autoexperiment.egg-info

# Docker
*.def
*.sif
*.img

