# Agent 
agents/openai_api_key.txt
agents/__pycache__
agents/workspace
agents/traces
agents/logs
agents/generated_code

# Workspace, logs, and utils
workspace/*
wandb
deploy/*.sbatch
deploy/sbatches/*.sbatch
*.py[cod]

# dataset
dataset/__pycache__
dataset/MLRC
dataset/workspace
*.pt
*.zip
*.tar
*.gz
*.npz
*.png
*.jpg

*.def
*.sif

*.img
*.pkl
